# Ignore environment variable files
.env

# Ignore Python bytecode and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/

# Ignore editor and IDE configurations
.vscode/
.idea/

persistence/*.db
